<h1>Sign Up</h1>

<div class="row">
  <div class="medium-4 columns">
    <%= render 'form' %>
  </div>
</div>

<p>
  <%= link_to 'Sign in', users_path %>
  <br>
  <%= link_to 'Forget your password?', users_path %>
</p>
